<table style="width:100%">
  <thead>
  <tr>
    <th>
      <div class="th-top-header-corner"></div>
    </th>
    <th>
      <div class="th-top-header">Name</div>
    </th>
    <th>
      <div class="th-top-header">Surname</div>
    </th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <th>
      <div class="th-left-header">
        <app-svg-icon [type]="SvgIcon.ARROW_RIGHT" svgClass="th-left-header-icon"></app-svg-icon>
        <div class="th-left-header-text">Firstname</div>
      </div>
    </th>
    <td>Jill</td>
    <td>Eve</td>
  </tr>
  <tr>
    <th>
      <div class="th-left-header">
        <app-svg-icon [type]="SvgIcon.ARROW_RIGHT" svgClass="th-left-header-icon"></app-svg-icon>
        <div class="th-left-header-text">Lastname</div>
      </div>
    </th>
    <td>Smith</td>
    <td>Jackson</td>
  </tr>
  <tr>
    <th>
      <div class="th-left-header">
        <app-svg-icon [type]="SvgIcon.ARROW_RIGHT" svgClass="th-left-header-icon"></app-svg-icon>
        <div class="th-left-header-text">Age</div>
      </div>
    </th>
    <td>50</td>
    <td>94</td>
  </tr>
  </tbody>
</table>
